mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.4.9, for Linux (x86_64)
--
-- Host: localhost    Database: mercashop
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
mysqldump: Error: 'Access denied; you need (at least one of) the PROCESS privilege(s) for this operation' when trying to dump tablespaces

--
-- Dumping data for table `TCarrito`
--

LOCK TABLES `TCarrito` WRITE;
/*!40000 ALTER TABLE `TCarrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `TCarrito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TCategoria`
--

LOCK TABLES `TCategoria` WRITE;
/*!40000 ALTER TABLE `TCategoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `TCategoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TDepartamento`
--

LOCK TABLES `TDepartamento` WRITE;
/*!40000 ALTER TABLE `TDepartamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `TDepartamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TDetallePedido`
--

LOCK TABLES `TDetallePedido` WRITE;
/*!40000 ALTER TABLE `TDetallePedido` DISABLE KEYS */;
INSERT INTO `TDetallePedido` VALUES (1,1,1,'CocaCola x2und 2.5L',15250.0000,2,30500.0000),(2,2,2,'CocaCola CAF├ë x6und 269mL',18210.0000,3,54630.0000);
/*!40000 ALTER TABLE `TDetallePedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TDireccion`
--

LOCK TABLES `TDireccion` WRITE;
/*!40000 ALTER TABLE `TDireccion` DISABLE KEYS */;
INSERT INTO `TDireccion` VALUES (1,'Calle 203 12-14','El Rin',NULL,'123456',4);
/*!40000 ALTER TABLE `TDireccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TDireccionCliente`
--

LOCK TABLES `TDireccionCliente` WRITE;
/*!40000 ALTER TABLE `TDireccionCliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `TDireccionCliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TEstadoPedido`
--

LOCK TABLES `TEstadoPedido` WRITE;
/*!40000 ALTER TABLE `TEstadoPedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `TEstadoPedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `THiloPQRS`
--

LOCK TABLES `THiloPQRS` WRITE;
/*!40000 ALTER TABLE `THiloPQRS` DISABLE KEYS */;
/*!40000 ALTER TABLE `THiloPQRS` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TMunicipio`
--

LOCK TABLES `TMunicipio` WRITE;
/*!40000 ALTER TABLE `TMunicipio` DISABLE KEYS */;
INSERT INTO `TMunicipio` VALUES (1,14,'Bogot├â┬í D.C.','11001'),(2,2,'Medell├â┬¡n','05001'),(3,27,'Bucaramanga','68001'),(4,27,'Barrancabermeja','68081'),(5,27,'Floridablanca','68176'),(6,27,'Gir├â┬│n','68276'),(7,27,'Piedecuesta','68547');
/*!40000 ALTER TABLE `TMunicipio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TPQRS`
--

LOCK TABLES `TPQRS` WRITE;
/*!40000 ALTER TABLE `TPQRS` DISABLE KEYS */;
/*!40000 ALTER TABLE `TPQRS` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TPedido`
--

LOCK TABLES `TPedido` WRITE;
/*!40000 ALTER TABLE `TPedido` DISABLE KEYS */;
INSERT INTO `TPedido` VALUES (1,1,NULL,NULL,30500.0000,NULL,30500.0000,NULL,NULL,'2026-06-09 20:13:36'),(2,1,NULL,NULL,54630.0000,NULL,54630.0000,NULL,NULL,'2026-06-09 20:16:16');
/*!40000 ALTER TABLE `TPedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TProductos`
--

LOCK TABLES `TProductos` WRITE;
/*!40000 ALTER TABLE `TProductos` DISABLE KEYS */;
INSERT INTO `TProductos` VALUES (1,1,'CocaCola x2und 2.5L','CocaCola en pack de dos sabor original','',NULL,NULL,15250.0000,500),(2,1,'CocaCola CAF├ë x6und 269mL','Cocacola en lata sabor CAF├ë por 6 unidades','',NULL,NULL,18210.0000,400);
/*!40000 ALTER TABLE `TProductos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TRoles`
--

LOCK TABLES `TRoles` WRITE;
/*!40000 ALTER TABLE `TRoles` DISABLE KEYS */;
/*!40000 ALTER TABLE `TRoles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TTiendaAdmin`
--

LOCK TABLES `TTiendaAdmin` WRITE;
/*!40000 ALTER TABLE `TTiendaAdmin` DISABLE KEYS */;
/*!40000 ALTER TABLE `TTiendaAdmin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TTiendas`
--

LOCK TABLES `TTiendas` WRITE;
/*!40000 ALTER TABLE `TTiendas` DISABLE KEYS */;
INSERT INTO `TTiendas` VALUES (1,'Coca-Cola Company','Comercio de concentrados, bebidas y jarabes para bebidas no alcoh├│licas',NULL,'atencioncliente@cocacola.com','3009876543','Coca-Cola Bebidas De Colombia S.A',NULL,NULL,'Activa',NULL,NULL);
/*!40000 ALTER TABLE `TTiendas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TTrabajador`
--

LOCK TABLES `TTrabajador` WRITE;
/*!40000 ALTER TABLE `TTrabajador` DISABLE KEYS */;
/*!40000 ALTER TABLE `TTrabajador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TTrabajadorTienda`
--

LOCK TABLES `TTrabajadorTienda` WRITE;
/*!40000 ALTER TABLE `TTrabajadorTienda` DISABLE KEYS */;
/*!40000 ALTER TABLE `TTrabajadorTienda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TTransaccionPasarela`
--

LOCK TABLES `TTransaccionPasarela` WRITE;
/*!40000 ALTER TABLE `TTransaccionPasarela` DISABLE KEYS */;
/*!40000 ALTER TABLE `TTransaccionPasarela` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TUsuarioAdmin`
--

LOCK TABLES `TUsuarioAdmin` WRITE;
/*!40000 ALTER TABLE `TUsuarioAdmin` DISABLE KEYS */;
INSERT INTO `TUsuarioAdmin` VALUES (1,'Admin','Principal','admin@mercashop.com','copilot1234','Activo','2026-06-08 19:13:47');
/*!40000 ALTER TABLE `TUsuarioAdmin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `TUsuarioCliente`
--

LOCK TABLES `TUsuarioCliente` WRITE;
/*!40000 ALTER TABLE `TUsuarioCliente` DISABLE KEYS */;
INSERT INTO `TUsuarioCliente` VALUES (1,'Tanya Tamara','Degurechaff Duran',NULL,'$2y$10$Ef63OSrjVgqtxBw/Xx.6dOeq8slqZDz0cW/4fT4UuBHA022fWPuJm','tanya123@gmail.com',NULL,1);
/*!40000 ALTER TABLE `TUsuarioCliente` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 23:50:37
